<div class="container">
    <main>
        <ul id="slide-out" class="side-nav">
            <li>
                <div class="user-view">
                    <a href="#!user"><img class="circle" src="img/logo_64.png"></a>                    
                    <a href="#!name"><span>Línguas</span></a>
                </div>
            </li>
            <li><a href="#!" class="palavrasmagicas"><i class="material-icons">cloud</i>Palavras Mágicas</a></li>
            <li><div class="divider"></div></li>
            <li><a href="#!" class="cafe"><i class="material-icons">cloud</i>Café da manhã</a></li>
            <li><a href="#!" class="almoco"><i class="material-icons">cloud</i>Almoço ou jantar</a></li>
            <li><a href="#!" class="pizza"><i class="material-icons">cloud</i>Pedindo pizza</a></li>
            <li><a href="#!" class="farmacia"><i class="material-icons">cloud</i>Farmácia</a></li>
            <li><a href="#!" class="loja"><i class="material-icons">cloud</i>Loja</a></li>
            <li><a href="#!" class="ondefica"><i class="material-icons">cloud</i>Onde fica...</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        
        <div class="row">
            <div class="col s12 center">
                <img class="responsive-img" src="img/idiomas.png">
            </div>
        </div>
    </main>
</div>
