<div class="container">
    <header>
        <h4 class="white-text">No almoço ou jantar...</h4>
    </header>
    <main>
        <ul id="slide-out" class="side-nav">
            <li>
                <div class="user-view">
                    <a href="#!user"><img class="circle" src="img/logo_64.png"></a>                    
                    <a href="#!name"><span>Línguas</span></a>
                </div>
            </li>
            <li><a href="#!" class="palavrasmagicas"><i class="material-icons">cloud</i>Palavras Mágicas</a></li>
            <li><div class="divider"></div></li>
            <li><a href="#!" class="cafe"><i class="material-icons">cloud</i>Café da manhã</a></li>
            <li><a href="#!" class="almoco"><i class="material-icons">cloud</i>Almoço ou jantar</a></li>
            <li><a href="#!" class="pizza"><i class="material-icons">cloud</i>Pedindo pizza</a></li>
            <li><a href="#!" class="farmacia"><i class="material-icons">cloud</i>Farmácia</a></li>
            <li><a href="#!" class="loja"><i class="material-icons">cloud</i>Loja</a></li>
            <li><a href="#!" class="ondefica"><i class="material-icons">cloud</i>Onde fica...</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        
        <div class="row">
            <div class="col s12 center">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header white-text light-blue darken-4"><i class="material-icons">place</i>Inglês</div>
                        <div class="collapsible-body">
                            <p>Bom dia - <strong>gúDÉftêrnún / gúd NÁit</strong>
                            </p>
                            <p>Quero o cardápio - <strong>Áid LÁik túSSÍ dêMÊnu </strong>
                            </p>
                            <p>Quero a conta - <strong>dê TCHÉk, PLÍs</strong>
                            </p>
                            <p>Obrigado - <strong>ThÊNkiu / ThÊNkis</strong>
                            </p>
                            <p>Entrada - <strong>ÊNtér</strong>
                            </p>
                            <p>Saída - <strong>Êzit</strong>
                            </p>
                            <p>Aberto - <strong>Õpênd</strong>
                            </p>
                            <p>Fechado - <strong>CLÔUzd</strong>
                            </p>
                            <p>Delicioso - <strong>déLÌchious</strong>
                            </p>
                            <p>Onde fica o banheiro? - <strong>uÉris dê BÉthrumm?</strong>
                            </p>

                            <p>Por favor, quero ... - <strong>PLÍs, Ái uANt ...</strong>
                            </p>
                            <p>Vocabulário:</p>
                            <p><em>Bebidas</em>
                            </p>
                            <p>cerveja - <strong>Êi BÍêr</strong>
                            </p>
                            <p>vinho - <strong>ÂNN uÁinn</strong>
                            </p>
                            <p>coca/pepsi - <strong>Êi KÔká</strong>
                            </p>
                            <p>suco de laranja - <strong>ÂNN Órandji DJÚisse</strong>
                            </p>
                            <p>água sem gás - <strong>Êi karbôNÊIred uÓrer</strong>
                            </p>
                            <p>água com gás - <strong>ÂNN uÓrer</strong>
                            </p>

                            <p><em>Comidas</em>
                            </p>
                            <p>salada - <strong>Éi SSÉled</strong>
                            </p>
                            <p>sopa - <strong>Éi SSÚp</strong>
                            </p>
                            <p>carne ao ponto - <strong>Éi MÍdiãm MÍt</strong>
                            </p>
                            <p>massa - <strong>Éi PÁSta</strong>
                            </p>
                            <p>peixe - <strong>Èi FÍch</strong>
                            </p>

                            <p><em>Objetos</em>
                            </p>
                            <p>prato - <strong>DÍch</strong>
                            </p>
                            <p>copo - <strong>GLÉss</strong>
                            </p>
                            <p>garfo - <strong>FÓRk</strong>
                            </p>
                            <p>faca - <strong>NÁIf</strong>
                            </p>
                            <p>colher - <strong>sPÚn</strong>
                            </p>
                            <p>colher de chá - <strong>TÍSpún</strong>
                            </p>
                            <p>guardanapo - <strong>NÁpkin</strong>
                            </p>
                            <p>cadeira - <strong>TCHÉr</strong>
                            </p>
                            <p>mesa - <strong>TÊibôu</strong>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header white-text light-green darken-4"><i class="material-icons">place</i>Húngaro</div>
                        <div class="collapsible-body">
                            <p>Bom dia - <strong>iÔ náPÔt / iô echTÉt</strong>
                            </p>
                            <p>Quero o cardápio - <strong>áMÊniú, LÉdien SÍvech</strong>
                            </p>
                            <p>Quero a conta - <strong>áSSÂMlat, LÉdien SÍvech</strong>
                            </p>
                            <p>Obrigado - <strong>KÔssônômm</strong>
                            </p>
                            <p>Entrada - <strong></strong>
                            </p>
                            <p>Saída - <strong></strong>
                            </p>
                            <p>Aberto - <strong></strong>
                            </p>
                            <p>Fechado - <strong>ZÁRvâ</strong>
                            </p>
                            <p>Delicioso - <strong>FÍnomm</strong>
                            </p>
                            <p>Onde fica o banheiro? - <strong>rrôlvann â MÔchdô?</strong>
                            </p>

                            <p>Por favor, ... quero - <strong>ÊLnézécht, ... kêrék</strong>
                            </p>
                            <p>Vocabulário:</p>
                            <p><em>Bebidas</em>
                            </p>
                            <p>cerveja - <strong>Édi CHÔr</strong>
                            </p>
                            <p>vinho - <strong>Édi BÔr</strong>
                            </p>
                            <p>coca/pepsi - <strong>Édi KÔlat</strong>
                            </p>
                            <p>suco de laranja - <strong>Édi NÂrantchilêt</strong>
                            </p>
                            <p>água sem gás - <strong>Édi sênchavménTÉch VÍzêt</strong>
                            </p>
                            <p>água com gás - <strong>Édi achVÁni VÍzêt</strong>
                            </p>

                            <p><em>Comidas</em>
                            </p>
                            <p>salada - <strong>Édi CHÁlatat</strong>
                            </p>
                            <p>sopa - <strong>Édi LÉvéch</strong>
                            </p>
                            <p>carne ao ponto - <strong>Édi RRÚSt KÖzepechen Átchütve</strong>
                            </p>
                            <p>massa - <strong>Édi TÊSta</strong>
                            </p>
                            <p>peixe - <strong>Èdi RRÂLt</strong>
                            </p>

                            <p><em>Objetos</em>
                            </p>
                            <p>prato - <strong>Édi TÁnier</strong>
                            </p>
                            <p>copo - <strong>Édi Pôrrar</strong>
                            </p>
                            <p>garfo - <strong>Édi VÍLlat</strong>
                            </p>
                            <p>faca - <strong>Édi KÊcht</strong>
                            </p>
                            <p>colher - <strong>Édi kâNÁlat</strong>
                            </p>
                            <p>colher de chá - <strong>Édi téachkâNÁlat</strong>
                            </p>
                            <p>guardanapo - <strong>Édi sâlVÊtat</strong>
                            </p>
                            <p>cadeira - <strong>Édi SÉkêt</strong>
                            </p>
                            <p>mesa - <strong>Édi ÂStâlát</strong>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header white-text amber darken-4"><i class="material-icons">place</i>Alemão</div>
                        <div class="collapsible-body">
                            <p>Bom dia - <strong>GÚt MÓRgê</strong>
                            </p>
                            <p>Quero o cardápio - <strong>Írr MÓchtê dâs MÊnu BÍtâ</strong>
                            </p>
                            <p>Quero a conta - <strong>díRÉchnung BÍtâ</strong>
                            </p>
                            <p>Obrigado - <strong>DÂNkênchûnn / DÂNk</strong>
                            </p>
                            <p>Entrada - <strong>Áingâng</strong>
                            </p>
                            <p>Saída - <strong>Áusgâng</strong>
                            </p>
                            <p>Aberto - <strong>Ófênn</strong>
                            </p>
                            <p>Fechado - <strong>GÉCHlóssênn</strong>
                            </p>
                            <p>Delicioso - <strong>LÉká</strong>
                            </p>
                            <p>Onde fica o banheiro? - <strong>vúisDÍ toaLÉtâ?</strong>
                            </p>

                            <p>Quero <em>alguma coisa</em> - <strong>Írr MÓchtê ... BÍtâ</strong>
                            </p>
                            <p>Vocabulário:</p>
                            <p><em>Bebidas</em>
                            </p>
                            <p>café - <strong>Áinên CÁfê</strong>
                            </p>
                            <p>café com leite - <strong>Áinên MÍrr CÁfê</strong>
                            </p>
                            <p>café espresso - <strong>Áinên esPRREsso</strong>
                            </p>
                            <p>suco de laranja - <strong>Áinên oRÂNgên ZÁft</strong>
                            </p>
                            <p>leite com chocolate - <strong>Áinên chocoMÍrr</strong>
                            </p>

                            <p><em>Comidas</em>
                            </p>
                            <p>pão com manteiga - <strong>Áine BRÔt en BÚtá</strong>
                            </p>
                            <p>sanduíche - <strong>Áine ZÁNduich</strong>
                            </p>
                            <p>torradas - <strong>Áinen TÔUSt</strong>
                            </p>
                            <p>ovo frito - <strong>Áinen spigêLÁi</strong>
                            </p>
                            <p>bolo - <strong>Áinen KÚrren</strong>
                            </p>
                            <p>manteiga - <strong>BÚtá</strong>
                            </p>
                            <p>queijo - <strong>KÍzâ</strong>
                            </p>
                            <p>presunto - <strong>CHINkên</strong>
                            </p>
                            <p>bacon - <strong>ishPÉk</strong>
                            </p>

                            <p><em>Objetos</em>
                            </p>
                            <p>prato - <strong>Áinen géRÍkt</strong>
                            </p>
                            <p>copo - <strong>Áinen GLÁs</strong>
                            </p>
                            <p>garfo - <strong>Áinen GÁbêll</strong>
                            </p>
                            <p>faca - <strong>Áinen MÉssa</strong>
                            </p>
                            <p>colher - <strong>Áinen lôFÉLL</strong>
                            </p>
                            <p>colher de chá - <strong>Áinen TÍlôféll</strong>
                            </p>
                            <p>guardanapo - <strong>Áinen zéviÉtâ</strong>
                            </p>
                            <p>cadeira - <strong>Áinen ishTÚLL</strong>
                            </p>
                            <p>mesa - <strong>Áinen TÎch</strong>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header white-text red darken-4"><i class="material-icons">place</i>Tcheco</div>
                        <div class="collapsible-body">
                            <p>Bom dia - <strong>dôbréRÁnô</strong>
                            </p>
                            <p>Quero o cardápio - <strong>ktssí naBÍdkú, próSSÍMM</strong>
                            </p>
                            <p>Quero a conta - <strong>záplaTÍM, próSSÍMM</strong>
                            </p>
                            <p>Obrigado - <strong>DÍÍkê</strong>
                            </p>
                            <p>Entrada - <strong>SSÚp</strong>
                            </p>
                            <p>Saída - <strong>VÍkonn</strong>
                            </p>
                            <p>Aberto - <strong>ÓUtágêní</strong>
                            </p>
                            <p>Fechado - <strong>zaVRÉnô</strong>
                            </p>
                            <p>Delicioso - <strong>vibórNÍ</strong>
                            </p>
                            <p>Onde fica o banheiro? - <strong>gêDÊ toalatÁ?</strong>
                            </p>

                            <p>Quero <em>alguma coisa</em> - <strong>ÍRtissi ... próSSÍMM</strong>
                            </p>
                            <p>Vocabulário:</p>
                            <p><em>Bebidas</em>
                            </p>
                            <p>café - <strong>KÁvu</strong>
                            </p>
                            <p>café com leite - <strong>KÁvas mLÉkênn</strong>
                            </p>
                            <p>café espresso - <strong>esPRÉssô</strong>
                            </p>
                            <p>suco de laranja - <strong>pomeRANssôvi DJUS</strong>
                            </p>
                            <p>leite com chocolate - <strong>tchocoladoVÊ mLÉkô</strong>
                            </p>

                            <p><em>Comidas</em>
                            </p>
                            <p>pão com manteiga - <strong>írLÉb aMÁssô</strong>
                            </p>
                            <p>sanduíche - <strong>SÊNdvitch</strong>
                            </p>
                            <p>torradas - <strong>PRRÍpi</strong>
                            </p>
                            <p>ovo frito - <strong>ssázéNÉ VÍtssé</strong>
                            </p>
                            <p>bolo - <strong>DÓRt</strong>
                            </p>
                            <p>manteiga - <strong>MÁSlô</strong>
                            </p>
                            <p>queijo - <strong>SÍR</strong>
                            </p>
                            <p>presunto - <strong>CHUNka</strong>
                            </p>
                            <p>bacon - <strong>isLÁniú</strong>
                            </p>

                            <p><em>Objetos</em>
                            </p>
                            <p>prato - <strong>misKÚ</strong>
                            </p>
                            <p>copo - <strong>CHÁlék</strong>
                            </p>
                            <p>garfo - <strong>viSSÁzet</strong>
                            </p>
                            <p>faca - <strong>NÚtch</strong>
                            </p>
                            <p>colher - <strong>ssê GÍtikôu</strong>
                            </p>
                            <p>colher de chá - <strong>TchaiVÔu GÍtikôu</strong>
                            </p>
                            <p>guardanapo - <strong>uBRÔussék</strong>
                            </p>
                            <p>cadeira - <strong>KRÉSlô</strong>
                            </p>
                            <p>mesa - <strong>taBULLka</strong>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>
