<div class="container">
    <header>
        <h4 class="white-text">Palavras Mágicas</h4>
    </header>
    <main>
        <ul id="slide-out" class="side-nav">
            <li>
                <div class="user-view">
                    <a href="#!user"><img class="circle" src="img/logo_64.png"></a>                    
                    <a href="#!name"><span>Línguas</span></a>
                </div>
            </li>
            <li><a href="#!" class="palavrasmagicas"><i class="material-icons">cloud</i>Palavras Mágicas</a></li>
            <li><div class="divider"></div></li>
            <li><a href="#!" class="cafe"><i class="material-icons">cloud</i>Café da manhã</a></li>
            <li><a href="#!" class="almoco"><i class="material-icons">cloud</i>Almoço ou jantar</a></li>
            <li><a href="#!" class="pizza"><i class="material-icons">cloud</i>Pedindo pizza</a></li>
            <li><a href="#!" class="farmacia"><i class="material-icons">cloud</i>Farmácia</a></li>
            <li><a href="#!" class="loja"><i class="material-icons">cloud</i>Loja</a></li>
            <li><a href="#!" class="ondefica"><i class="material-icons">cloud</i>Onde fica...</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        
        <div class="row">
            <div class="col s12 center">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header white-text light-blue darken-4"><i class="material-icons">place</i>Inglês</div>
                        <div class="collapsible-body">
                            <p>Olá - <strong>RRÁi / rreLÔu</strong>
                            </p>
                            <p>Tchau - <strong>BÁi / gúdBÁi</strong>
                            </p>
                            <p>Obrigado - <strong>ThÊNkiu / ThÊNkis</strong>
                            </p>
                            <p>De nada - <strong>óuRÁit / nouPRÓblemm</strong>
                            </p>
                            <p>Desculpe - <strong>SÓri / esKÍuzimi</strong>
                            </p>
                            <p>Por favor - <strong>PLÍs</strong>
                            </p>
                            <p>Saúde (espirro) - <strong>BLÉssiu</strong>
                            </p>
                            <p>Saúde (tin-tin) - <strong>TÍers</strong>
                            </p>
                            <p>Você fala português? - <strong>duiú sPÍki portiuGUÍz?</strong>
                            </p>
                            <p>Você fala inglês? - <strong>duiú spiKÍNglêch?</strong>
                            </p>
                            <p>Sim - <strong>iÉss</strong>
                            </p>
                            <p>Não - <strong>NÔU</strong>
                            </p>
                            <p>Não estou entendendo - <strong>Ái don ândersTÊN</strong>
                            </p>
                            <p>Desculpe, não falo inglês - <strong>SÓri, ái don spiKÍNglêch</strong>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header white-text light-green darken-4"><i class="material-icons">place</i>Húngaro</div>
                        <div class="collapsible-body">
                            <p>Olá - <strong>SÍâ</strong>
                            </p>
                            <p>Tchau - <strong>SÍâ / VÍssônt lâTÁchâra / VisLÁt</strong>
                            </p>
                            <p>Obrigado - <strong>KÔssônômm</strong>
                            </p>
                            <p>De nada - <strong>SÍvêchênn</strong>
                            </p>
                            <p>Desculpe - <strong>CHÂinalom</strong>
                            </p>
                            <p>Por favor - <strong>ÊLnézécht</strong>
                            </p>
                            <p>Saúde (espirro) - <strong>Éguêchêguédré</strong>
                            </p>
                            <p>Saúde (tin-tin) - <strong>Éguêchêguédré</strong>
                            </p>
                            <p>Você fala português? - <strong>béSSÊL portuGÁLL?</strong>
                            </p>
                            <p>Você fala inglês? - <strong>béSSÊL ângóLULL?</strong>
                            </p>
                            <p>Sim - <strong>Ígenn</strong>
                            </p>
                            <p>Não - <strong>NÊMM</strong>
                            </p>
                            <p>Não estou entendendo - <strong>nêMÉRtêmm</strong>
                            </p>
                            <p>Desculpe, não falo húngaro - <strong>nêm béSSÊlek ângóLULL</strong>
                            </p>                          
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header white-text amber darken-4"><i class="material-icons">place</i>Alemão</div>
                        <div class="collapsible-body">
                            <p>Olá - <strong>RRÁi / rraLÔ</strong>
                            </p>
                            <p>Tchau - <strong>AuFÍdézinn / tCHÂss</strong>
                            </p>
                            <p>Obrigado - <strong>DÂNkênchûnn / DÂNk</strong>
                            </p>
                            <p>De nada - <strong>BÍtênchûnn</strong>
                            </p>
                            <p>Desculpe - <strong>enCHUNdêgunn</strong>
                            </p>
                            <p>Por favor - <strong>BÍtâ</strong>
                            </p>
                            <p>Saúde (espirro) - <strong>gêzunTÁid</strong>
                            </p>
                            <p>Saúde (tin-tin) - <strong>PRRÔSt</strong>
                            </p>
                            <p>Você fala português? - <strong>SPRRÉchen zi portuGUÍzech?</strong>
                            </p>
                            <p>Você fala inglês? - <strong>SPRRÉchen zi Ênglich?</strong>
                            </p>
                            <p>Sim - <strong>iÁ</strong>
                            </p>
                            <p>Não - <strong>NÁinn</strong>
                            </p>
                            <p>Não estou entendendo - <strong>írfarchTÍa nirt</strong>
                            </p>
                            <p>Desculpe, não falo alemão - <strong>irspreinKÁin dóit</strong>
                            </p>                          
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header white-text red darken-4"><i class="material-icons">place</i>Tcheco</div>
                        <div class="collapsible-body">
                            <p>Olá - <strong>aRRÓi, dôBRÍÍ dênn</strong>
                            </p>
                            <p>Tchau - <strong>TCHÁu</strong>
                            </p>
                            <p>Obrigado - <strong>DÍÍkê</strong>
                            </p>
                            <p>De nada - <strong>tô NHÍêts</strong>
                            </p>
                            <p>Desculpe - <strong>prominiTÉ</strong>
                            </p>
                            <p>Por favor - <strong>próSSÍMM</strong>
                            </p>
                            <p>Saúde (espirro) - <strong>izDRÁi</strong>
                            </p>
                            <p>Saúde (tin-tin) - <strong>nasDRÁvi</strong>
                            </p>
                            <p>Você fala português? - <strong>muluVÍta portuGÁLiskê?</strong>
                            </p>
                            <p>Você fala inglês? - <strong>muluVÍta anGLÉkiskê?</strong>
                            </p>
                            <p>Sim - <strong>Ánô</strong>
                            </p>
                            <p>Não - <strong>NÉ</strong>
                            </p>
                            <p>Não estou entendendo - <strong>nérózúMÍmê</strong>
                            </p>
                            <p>Desculpe, não falo tcheco - <strong>neMÚLvim TCHÉSkê</strong>
                            </p>                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>
